@font-face {
    font-family: "Newsreader";
    src: url("../assets/fonts/Newsreader/Newsreader-VariableFont_opsz,wght.ttf") format("truetype");
}

html {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


body {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.4;
}

nav {
    text-align: right;
}
